[Match]
Name = eth0

[Network]
Description = Interface eth0 autoconfigured by PVE
Address = 193.191.176.186/25
Gateway = 193.191.176.254
DHCP = no
IPv6AcceptRA = false
